
<footer>
    <div class="footer-container">
      <div id="Main-container">

        <div id="ABOUT">
          <h5>ABOUT</h5>
          <ul id="list">
            <li> <a href="#">Contact Us</a></li>
            <li> <a href="#">About Us</a></li>
            <li> <a href="#">Careers</a></li>
            <li> <a href="#">Clothes Wear Stories</a></li>
            <li> <a href="#">Press</a></li>
            <li> <a href="#">Clothes Wear</a></li>
            <li> <a href="#">Wholesale</a></li>
            <li> <a href="#">Corporate</a></li>
            <li> <a href="#">Information</a></li>
          </ul>
        </div>

        <div id="HELP">
          <h5>HELP</h5>
          <ul id="list">
            <li> <a href="/All Forms/Payment_form.html">Payment</a></li>
            <li> <a href="#">Shipping</a></li>
            <li> <a href="#">Cancellation</a></li>
            <li> <a href="#">FAQ</a></li>
            <li> <a href="#">Ropart</a></li>
            <li> <a href="#">Infringemnet</a></li>
          </ul>
        </div>

        <div id="CONSUMER-POLICY">
          <h5>CONSUMER-POLICY</h5>
          <ul id="list">
            <li> <a href="#">Return Policy</a></li>
            <li> <a href="#">Terms of Use</a></li>
            <li> <a href="#">Security</a></li>
            <li> <a href="#">Privacy</a></li>
            <li> <a href="#">Sitemap</a></li>
            <li> <a href="#">Grievance</a></li>
            <li> <a href="#">Redressal</a></li>
            <li> <a href="#">EPR Compliance</a></li>
          </ul>
        </div>

        <div id="SOCIAL">
          <h5>SOCIAL</h5>
          <ul id="list">
            <li> <a href="#">Facebook</a></li>
            <li> <a href="#">Twitter</a></li>
            <li> <a href="#">YouTube</a></li>
          </ul>
        </div>
      </div>
      <div id="Address-container">
        <div class="Mail-address">
          <h5>Mail Us:</h5>
          <p>Clothes Wear Internet Private Limited, <br> Buildings Alyssa, Begonia & <br> Clove Embassy Tech Village,
            <br>
            Outer Ring Road, Devarabeesanahalli Village, <br> Bengaluru, 560103, <br> Karnataka, India.
          </p>
        </div>

        <div class="office-address">
          <h5>Registered Office Address:</h5>
          <p>Clothes Wear Internet Private Limited, <br> Buildings Alyssa, Begonia & <br> Clove Embassy Tech Village,
            <br>
            Outer Ring Road, Devarabeesanahalli Village, <br> Bengaluru, 560103, <br> Karnataka, India <br> CIN :
            <span>U51109KA2012PTCO6XXXX</span> <br> Telephone: 044-456147XX
          </p>
        </div>
      </div>
      <div id="Payment">
        &copy; 2007-2023 &nspar; <a href="index.html">ClothesWear.com</a>
      </div>
    </div>
  </footer>