<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment form</title>
    <link rel="stylesheet" href="style.css">
</head>

<!--HTML-->

<body>
    <div id="image-bg">
        <form action="#" class="container">
            <header>
                <h1><b> Payment form </b></h1>
            </header>
            <hr>

            <h2><b>User Information</b></h2>
            <div class="name">
                <p> First Name: <input type="text" required placeholder="Enter Your First Name"></p>
                <p> Last Name: <input type="text" required placeholder="Enter Your Last Name"></p>
            </div>

            <p> Address: <textarea name="textarea" placeholder="Entry Your Address" id="1a" cols="50"
                    rows="7"></textarea>
            </p>

            <p> Email: <input type="text" required placeholder="ABC@gmail.com"></p>

            <p> Pincode: <input type="password" required placeholder="XXXXXX"></p>


            <h1><b> Payment Information </b></h1>

            <p>
                Card Type: <select name="card type" required id="2a">

                    <option value="empty" name="card">--Select Card type--</option>
                    <option value="Credit Card" name="card">Credit Card</option>
                    <option value="Debit Card" name="card">Debit Card</option>
                    <option value="Atm Card " name="card">Atm Card</option>

                </select></p>

            <p> Card number: <input type="number" required placeholder="1111-2222-3333-4444"> </p>

            <p> Expiration date: <input type="date" required placeholder="dd/mm/yyyy"></p>

            <p> Cvv: <input type="number" required placeholder="123"></p>

            <p> <input type="submit" required value="Pay now"></p>

        </form>

    </div>
</body>

</html>