.Choice-one {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/kids-apparel-combo/m/b/2/9-12-months-kids-classic-woxaa-original-imagkf6yctehbeyx.jpeg?q=70");
    background-size: cover;
}

.Choice-two {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/kids-apparel-combo/n/a/s/3-4-years-kids-royal-taj-tiny-brezy-original-imaghxnrhuj2pefv.jpeg?q=70");
    background-size: cover;
}

#mainPhotodiv {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/kids-apparel-combo/m/b/2/9-12-months-kids-classic-woxaa-original-imagkf6yctehbeyx.jpeg?q=70");
    background-size: cover;
    height: 360px;
}

.size {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}