body {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
    width: 1px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

#KidsWearHeader {
    display: grid;
    justify-content: center;
    background-color: #FFA41B;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 999;
}

.nav-link {
    font-weight: bold;
    font-size: x-large;
    color: white;
}

.nav-link:hover {
    text-decoration: double underline #5A96E3;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
}

.btn-outline-success {
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    border: 3px solid;
}

.dropdown-menu {
    border: 3px solid black;
    font-size: large;
    font-weight: 900 !important;
    padding: 0px 0px;
}

.dropdown-item {
    border-bottom: 3px solid black;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.dropdown-item:hover {
    background-color: #5A96E3;
    color: white;
}

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #525FE1;
    margin-top: 122px;
    justify-content: center;
}

.kids-wears {
    margin: 60px;
    width: 300px;
    height: 300px;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0);
    transition: all .3s cubic-bezier(.68, -0.55, .27, 1.55);
    z-index: 1;
    margin-top: -7px;
}

.hover-container {
    display: grid;
    justify-content: center;
    width: 320px;
    height: 323px;
    border-radius: 10px;
    margin: 32px;
    overflow: hidden;
}

@media (min-width:280px) and (max-width:380px) {
    .kids-wears {
        margin: 60px;
        width: 275px;
        height: 305px;
        margin-top: -10px;
    }
}


.hover-container:hover {
    background: linear-gradient(50deg, #F86F03, #F86F03);
}

.hover-container::before {
    content: "";
    position: relative;
    top: 67px;
    right: -22px;
    height: 19px;
    width: 378px;
    transform: translate(0, -100px);
    background: linear-gradient(50deg, rgb(108, 232, 108), rgb(108, 232, 108));

}

.hover-container:hover::before {
    animation: cardeffect 3s linear infinite;
}

@keyframes cardeffect {
    50% {
        transform: translate(0, 280px);
    }

    100% {
        transform: translate(0, -280px);
    }
}

#SmallGirlFrogs {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/kids-apparel-combo/r/k/b/4-5-years-baby-beauty03a-smartbazar-original-imagh3cxkrud4r2f.jpeg?q=70");
    background-size: cover;
}

#SmallBoysFull {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/kids-apparel-combo/q/d/v/6-12-months-1816171819-lemon-fashion-original-imagra4wkbf6ycz9.jpeg?q=70");
    background-size: cover;
}

#SmallGirlsTopJeans {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/kids-apparel-combo/m/b/2/9-12-months-kids-classic-woxaa-original-imagkf6yctehbeyx.jpeg?q=70");
    background-size: cover;
}

#TeenGirlsFrogs {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/kids-dress/6/o/n/3-4-years-gf0070-d-grn-fashion-dream-original-imaghh7zhdhpsjby.jpeg?q=70");
    background-size: cover;
}

#TeensBoysFull {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/shirt/c/o/g/14-15-years-d4-maroon-perun-original-imaghkh8gyas3ct3.jpeg?q=70");
    background-size: cover;
}

#TeenGirlsTopJeans {
    background-image: url('https://rukminim2.flixcart.com/image/832/832/kw6pw280/kids-apparel-combo/4/m/f/9-10-years-lyset294-luyk-original-imag8xbbxngghgzc.jpeg?q=70');
    background-size: cover;
}

@media (min-width:800px) and (max-width:900px) {
    section>div {
        margin: 40px;
    }
}