.Choice-one {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/kids-apparel-combo/r/k/b/4-5-years-baby-beauty03a-smartbazar-original-imagh3cxkrud4r2f.jpeg?q=70");
    background-size: cover;
}

.Choice-two {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/kids-apparel-combo/d/a/r/4-5-years-baby-beauty03a-smartbazar-original-imagh3cxcznjhu7j.jpeg?q=70");
    background-size: cover;
}

#mainPhotodiv {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/kids-apparel-combo/r/k/b/4-5-years-baby-beauty03a-smartbazar-original-imagh3cxkrud4r2f.jpeg?q=70");
    background-size: cover;
    height: 360px;
}

.size {
    display: flex;
    justify-content: space-around;
    width: 124%;
    margin-top: 10px;
}