.Choice-one {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/l1dwknk0/top/o/0/s/l-mftn-177-blue-meesan-original-imagcyz3ftsthmgg.jpeg?q=70");
    background-size: cover;
}

.Choice-two {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/l1dwknk0/top/i/5/5/l-mftn-177-blue-meesan-original-imagcyz3dvuhpfux.jpeg?q=70");
    background-size: cover;
}

#mainPhotodiv {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/l1dwknk0/top/o/0/s/l-mftn-177-blue-meesan-original-imagcyz3ftsthmgg.jpeg?q=70");
    background-size: cover;
    height: 360px;
}