.Choice-one {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/sari/y/w/x/free-zingat-2-navy-fabliva-unstitched-original-imagh8cdgyncpc6h.jpeg?q=70");
    background-size: cover;
}

.Choice-two {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/sari/3/t/r/free-zingat-2-navy-fabliva-unstitched-original-imagh8cdd25dgrv4.jpeg?q=70");
    background-size: cover;
}

#mainPhotodiv {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/sari/y/w/x/free-zingat-2-navy-fabliva-unstitched-original-imagh8cdgyncpc6h.jpeg?q=70");
    background-size: cover;
    height: 360px;
}