.Choice-one {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/sandal/u/7/h/6-sl836fashionflats-39-shoestail-peach-original-imagah2hjqk7tqdg-bb.jpeg?q=70");
    background-size: cover;
}

.Choice-two {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/ky4qgsw0/sandal/v/i/p/7-sl836fashionflats-shoestail-peach-original-imagafh2ueb4tjef.jpeg?q=70");
    background-size: cover;
}

#mainPhotodiv {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/sandal/u/7/h/6-sl836fashionflats-39-shoestail-peach-original-imagah2hjqk7tqdg-bb.jpeg?q=70");
    background-size: cover;
    height: 360px;
}