.Choice-one {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/watch/4/c/u/-original-imagrcjhgmzuh5dz.jpeg?q=70");
    background-size: cover;
}

.Choice-two {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/jwzabgw0/watch/c/h/g/ls2821-limestone-original-imafcwwzjgv9w6nw.jpeg?q=70");
    background-size: cover;
}

#mainPhoto {
    height: 360px;
    width: 330px;
}

#mainPhotodiv {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/xif0q/watch/4/c/u/-original-imagrcjhgmzuh5dz.jpeg?q=70");
    background-size: cover;
    height: 360px;
}