body {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
  width: 1px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

.nav_menu>div {
  display: inline-block;
  padding: 0 12px;
}

h6 a {
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: 600;
}

h6 a i {
  padding-right: 5px;
}

h6 {
  margin-bottom: 0;
}

h6:hover {
  transform: scale(1.1);
}

h6 a:hover {
  color: yellow;
  text-decoration: double underline yellow;
  text-decoration-thickness: 3px;
}

.choice i {
  font-size: 1.5rem;
  padding-right: 10px;
}

h3 {
  display: inline;
  color: #fccd36;
  font-size: 40px;
  margin-left: 53px;
  font-family: fangsong;
  font-weight: bolder;
  cursor: pointer;
}

h3:hover {
  color: white;
}

.Title img {
  position: absolute;
}

.dropdown {
  font-size: 17px;
  font-weight: bolder;
  background-color: #4a99d2;
  position: static;
  border: 2px solid #212529;
  transition: all .3s linear;
  transform-origin: top right;
  transform: scale(0, 0);
  position: absolute;
  right: 25px;
}

#check:checked~.dropdown {
  transform: scale(1, 1);
}

.dropdown>div {
  border: 2px solid #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dropdown>div a:hover {
  color: yellow;
  text-decoration: underline yellow;
  text-decoration-thickness: 3px;
}

.dropdown a {
  text-decoration: none;
  color: white;
}

.dropdown p {
  margin: 0;
}

@media (min-width:300px) and (max-width:428px) {
  .dropdown{
    position: absolute;
    left: 25px;
    width: 200px;
    transform-origin: top left;
  }
  
}

@media (min-width:300px) and (max-width:956px) {
  .fa-bars {
    display: block !important;
    position: absolute;
    top: 13px;
    right: 16px;
    cursor: pointer;
  }

  .fa-bars:hover {
    color: white;
  }

  .nav_menu {
    display: none;
  }

  header {
    padding-top: 5px;
  }
}


#check-one:checked~.nav_menu{
  display: grid;
  padding: 15px 10px;
}

#check-one:checked~.nav_menu > div{
  padding: 15px 10px;
  color: #fccd36;
}

#check-one:checked~.nav_menu div a{
  text-decoration: underline;
}

.mainBackground {
  display: grid;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-image: url("https://img.freepik.com/free-photo/rack-colorful-clothes-with-blue-background_1340-37474.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: .5rem;
  height: 90vh;
  color: rgb(86, 98, 226);
  font-weight: bolder;
}

#content>div {
  padding: 10px;
  color: rgb(74, 153, 210);
  margin-bottom: 5rem;
  background-color: #ffffffe0;
}

.hover-container::before {
  z-index: 1;
  content: "";
  position: absolute;
  width: 290px;
  transform: scaleY(0);
  background: linear-gradient(50deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  transition: transform .4s ease;
}

.hover-container:hover::before {
  height: 428px;
  transform: scaleY(1);
  content: "Men's wear";
  text-align: center;
  color: yellow;
  letter-spacing: 2px;
  display: grid;
  align-content: center;
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #4a99d2, 0 0 1em #4a99d2, 0 0 0.2em #4a99d2;
  border-radius: 5px;
  cursor: pointer;
}

#Females:hover::before {
  content: "Women's wear";
}

#Kids:hover::before {
  content: "Kid's wear";
}

@keyframes cardeffect {
  100% {
    transform: translate(0, 300px);
  }
}

.choiceContainer {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 2rem;
}

.card {
  display: grid;
  justify-items: center;
  align-items: center;
}

.image-kids,
.image-Mens,
.image-Womens {
  height: 427px;
  width: 18rem;
  background-image: url("https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/12769350/2022/8/17/bac1be3a-86a8-4bee-924c-9e33822895d81660739209799CutiekinsGirlsPeach-ColouredGreenPrintedTopwithPalazzos1.jpg");
  background-size: cover;
  border-radius: 5px;
}

.image-Mens {
  background-image: url("https://images.unsplash.com/photo-1516257984-b1b4d707412e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWVucyUyMGZhc2hpb258ZW58MHx8MHx8fDA%3D&w=1000&q=80");
}

.image-Womens {
  background-image: url("https://www.liveabout.com/thmb/i6Gl0us-vFA2Sbbsu5VpS-LfT1g=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/1-FashionJackson-5c59b194c9e77c00016b419e.jpg");
}


.card-body {
  display: grid;
  font-family: 'Times New Roman', Times, serif;
}

.card-title {
  margin: 0;
}

#ShopBtn {
  font-weight: bolder;
  font-size: medium;
  border-radius: 5px;
  background-color: #4a99d2;
  color: white;
  border: 1px solid #4a99d2;
}

#ShopBtn:hover {
  background-color: yellow;
  border: 1px solid yellow;
  color: rgba(0, 0, 0, 0.852);
}


@media (min-width :300px) and (max-width:500px) {
  #content>div {
    margin: .1rem;
    background-color: white;
    color: rgb(74, 153, 210);
    font-weight: bold;
    margin-bottom: 0px;
  }
}

@media (min-width :300px) and (max-width:900px) {
  .mainBackground {
    height: 40vh;
  }
}

.card {
  cursor: pointer;
}

.nav-link {
  color: white;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.33vw, 3fr));
}

footer {
  margin-top: 3rem;
  background-color: rgb(23 35 55);
}

#Main-container {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-items: center;
  padding: 31px;
  border-right: 1px solid white;
}

#Address-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
}

#Payment {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  color: white;
  border-top: 1px solid white;
}

footer li {
  list-style: none;
}

footer a,
p {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  font-size: 12px;
}

footer h5 {
  color: #878787;
}

footer #list {
  padding-left: 0 !important;
}