.Choice-one {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kyeqjrk0/gown/z/k/c/na-xl-3-4-sleeve-stitched-atoz-2119-adhi-shree-fashion-na-original-imagangyarnagaqm.jpeg?q=70");
    background-size: cover;
}

.Choice-two {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kyeqjrk0/gown/5/u/9/na-xl-3-4-sleeve-stitched-atoz-2119-adhi-shree-fashion-na-original-imagangy7hsgbfse.jpeg?q=70");
    background-size: cover;
}

#mainPhotodiv {
    background-image: url("https://rukminim2.flixcart.com/image/832/832/kyeqjrk0/gown/z/k/c/na-xl-3-4-sleeve-stitched-atoz-2119-adhi-shree-fashion-na-original-imagangyarnagaqm.jpeg?q=70");
    background-size: cover;
    height: 360px;
}